@model Practice.Models.StudentDetails

@{
    ViewData["Title"] = "Create";
    var x = TempData["ClassName"];

}

<h1>Create</h1>

<h4>StudentDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" , method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassName" value="@TempData["ClassName"] " />
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StdAddress" class="control-label"></label>
                <input asp-for="StdAddress" class="form-control" />
                <span asp-validation-for="StdAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentBirthday" class="control-label"></label>
                <input asp-for="StudentBirthday" class="form-control" />
                <span asp-validation-for="StudentBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
